services:
  - type: static
    name: gestockprov-frontend
    env: static
    staticPublishPath: dist
    buildCommand: npm ci && npm run build
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
